<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>Hi, <%= @food_place_user.first_name %></p>
	<p><%= @current_user.first_name %> has written a review about your restaurant</p>
	<p><%= @comment %></p>
</body>
</html>
