 @import "font-awesome-sprockets";
 @import "font-awesome";

*{
	margin: 0;
}
html, body{
	height: 100%;
}
.section{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 90px auto -70px;
}
.main-wrap{
	width: 100%;
	height: 100%;
	background: #D5DFE0 url('https://s3.amazonaws.com/foodplace/uploads/food_place/image/img/foodplace.jpg') repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	margin: -30px 0 40px 0;
	.main{
		width: 80%;
		text-align: center;
		margin: 120px auto 120px;
		border-radius: 10px;
		//background: radial-gradient(rgba(77, 198, 242, 0.8), rgba(146, 216, 232, 1)) no-repeat center;
		background: radial-gradient(rgba(77, 198, 242, 0.8), #F1F3F4) no-repeat center;
	  // background-size: cover;
		h2{
	  
	  // height: calc(100vh + 10px);
	  
		}
		h2{
			padding: 20px 15% 0; 
			font-size: 2.5em;
			color: red;
		}
		h3{
			font-size: 2em;
			color: #040c11;
			padding: 0 12% 20px; 
		}
		p{
			padding-bottom: 30px;
		}
	}
}

.home-page h2{
	color: #68b9ea;
	font-weight: 900;
}
.home-page h4{
	color: red;
	height: 40px;

}

.navbar-default .navbar-collapse{
  border-color: red;
 }
.jumbotron{
	background-color: #c3e2f4; 
	border: 1px solid #1a73b6;
	h2{
		color:#c41204;
		font-weight: bolder;
	}
}
.navbar-default{
	.container-fluid{
		background-color: #68b9ea;
		.navbar-nav > li > a{
			color:#fff;
			font-size:16px;
			font-weight: bold;
			padding: 20px 10px;
		}
		.navbar-brand{
			color:#fff;
			font-size: 30px;
			padding: 20px;
			font-weight: bold;
			font-family: 'Hobo Std';
			text-shadow: 2px 00 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
		}
		.navbar-form .form-control{
			padding: 20px;
		}
		.navbar-form .btn-default{
			padding: 10px;
		}
	}
}

.paginate{
	text-align: center;
}

.review-wrapper{
	max-height: 800px;
	float: right;
	overflow: auto;
}

.login-hide, .login-hides{
	text-align: center;
	margin-top: 30px;
}

.login-review{
	display: none;
}
.login-reviews{
	display: none;
}
.home-page{
	margin-bottom: 40px;
}

.login-form{
	text-align: center;
	margin: auto;
}
.new-form{
	margin-top: 50px;
}
.new-form h1{
	color: #68b9ea;
	font-weight: 900;
	text-align: center;
}

.new-form h2{
	color: #296294;
	font-weight: 900;
	margin-top: 30px;
	
}

.new-form h4{
	color: #c3e2f4;
	font-weight: 900;
	
}
.new-form .fa {
	color: #bb0d03;
		
}

footer, .push{
  height: 70px;
  width: 100%;
  color: #0E7480;
  
  bottom: 0;
  left: 0;
  background-image: url('https://s3.amazonaws.com/foodplace/uploads/food_place/image/img/food-f.png') repeat center center fixed,
  -webkit-background-size cover,
  -moz-background-size cover,
  -o-background-size cover,
  background-size cover;
  overflow: hidden;
	.footer{
		width: 100%;
		height: 100%;
		background-color: #c3e2f4;
		text-align: center;
		p{
			font-size: 17px;
			color: gray;
			padding: 20px 0;

		}
	}
}

.main-text{
	text-align: center;
	span a{ 
		color: #c3e2f4;
		font-size: 1.6em;
		font-weight: 900;
	}
}
.review-form{
	display: none;
}

a {
  color: #68b9ea;
}
a:hover {
  color: #CD6960;
  text-decoration: none;
}
.search h2{
	color: #296294;
}

.navbar-form .navbar-left{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.navbar-default .navbar-collapse {
  border-color:#68b9ea;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #68b9ea;
}
