.section{
	margin-top:90px;
}
.jumbotron{
	background-color: #c3e2f4; 
	border: 1px solid #1a73b6;
	h2{
		color:#c41204;
		font-weight: bolder;
	}
}
.navbar-default{
	.container-fluid{
		background-color: #1a73b6;
		.navbar-nav > li > a{
			color:#fff;
			font-size:16px;
			font-weight: bold;
			padding: 20px 10px;
		}
		.navbar-brand{
			color:#fff;
			font-size: 30px;
			padding: 20px;
			font-weight: bold;
			font-family: 'Hobo Std';
			text-shadow: 2px 00 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
		}
		.navbar-form .form-control{
			padding: 20px;
		}
		.navbar-form .btn-default{
			padding: 10px;
		}
	}
}

footer{
	height: 100%;
  width: 100%;
  color: #0E7480;
  margin-top: 40px;
  bottom: 0;
  left: 0;
  background-image: url('https://s3.amazonaws.com/foodplace/uploads/food_place/image/img/food-f.png') repeat center center fixed,
  -webkit-background-size cover,
  -moz-background-size cover,
  -o-background-size cover,
  background-size cover;
  overflow: hidden;
	.footer{
		width: 100%;
		height: 100%;
		text-align: center;
		p{
			color: green;
			padding: 10px 0;

		}
	}
}
// .container-fluid{
// 	padding: 3px 20px
// }
