<div class='container'>
	<div class='row'>
		<div class='col-sm-2'></div>
		<div class='col-sm-8'>
			<h2>Update <%= link_to @food_place.name, @food_place.name %></h2>

				<%= render 'form' %><br>
				<%= link_to 'Go back', @food_place, class: "btn btn-default btn-lg" %>

		</div>
		<div class='col-sm-2'></div>
	</div>
</div>