<footer>
	<div class='footer'>
    <%= image_tag 'https://s3.amazonaws.com/foodplace/uploads/food_place/image/img/food-f.png' %>
	<p> Copyright &copy; 2015 FoodSpot. All rights reserved</p>
	</div>
</footer>