<footer>
	<div class='container footer'>
		<div class='row'>
		<div class='col-sm-4'>
				<p> Made with <span class="glyphicon glyphicon-heart"></span> at <a href='http://inventivelabs.co' target='_blank'>Inventive Labs</a></p>
			</div>
		
			<div class='col-sm-8 pull-right hidden-xs'>
				 <p class='pull-right'>Copyright &copy; 2015 FoodPl.us. All rights reserved</p>
			</div>
			

		</div>
		</div>
</footer>